region               = "ap-southeast-6"
hub_profile          = "YOUR_HUB_PROFILE"
workload_account_ids = ["REPLACE_WITH_DEV_ACCOUNT_ID", "REPLACE_WITH_PROD_ACCOUNT_ID"]
amazon_side_asn      = 65002
inspection_vpc_cidr  = "10.254.0.0/24"
local_spoke_cidrs    = ["10.254.1.0/24", "10.254.2.0/24"]
remote_spoke_cidrs   = ["10.255.1.0/24", "10.255.2.0/24"]

enable_network_firewall = false
firewall_rules_enabled  = false
